#body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    padding-left: 100px;
    /* Adjust padding to align content */
    padding-bottom: 400px;
    background-color: lightblue;
}

#rex-image {
    max-width: 900px;
    /* Adjust the size as needed */
    margin-right: 50px;
    /* Space between the image and content */
}

#content {
    padding-left: 200px;
}